# Files and directories created by pub.
.dart_tool/
.packages

# Git stuff
.git/
.github/
.gitignore

# Conventional directory for build output.
build/

# Docker stuff
Dockerfile
.dockerignore

# VS Code
.vscode

# Environment file with secret keys
Envfile
